<section id="MainContent" class="blogPost">
	<article>
		<h1><span>Welcome to My Awesome Blog</span></h1>
		<time><span>12 Sept 2011</span></time>
		
		<p>
			My slides are not designed for people who didn’t see the talk in person.
			They’re designed to support my words, not some online audience. What’s more,
			many commented that they found the design of the slides to be noteworthy.
			I’m expressly not a designer.
		</p>
	
		<p>
			Working on your slide design pays off for the audience in front of you and
			for the audience online reading your slides later. I learned a lot designing
			this talk, and I think it can be helpful for you, too.
		</p>
		
		<p>
			Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
		
		<h2>This is a subtitle</h2>
		
		<p>
			<a href="#"><img alt="" class="left" src="/images/mac-keyboard.jpg" /></a>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
			magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		
		<p>
			Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
		
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
			magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		
		<blockquote cite="John Smith">
			Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
		</blockquote>
		
		<p>
			Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
		
		<h2>This is another subtitle, but is a bit longer</h2>
		
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
			magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		
		<ul>
			<li>This is a bullet point</li>
			<li>This is another bullet point</li>
			<li>I really like cheese</li>
			<li>And the final bullet point here</li>
		</ul>
		
		<p>
			Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
		
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
			magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		
		<ol>
			<li>Waking up in the morning</li>
			<li>Gotta be fresh</li>
			<li>Gotta go downstairs</li>
			<li>Gotta have my bowl</li>
			<li>Gotta have cereal</li>
		</ol>
		
		<p>
			Here is something in <strong>bold</strong> and here is something in <em>italic
			</em>. Here is a <a href="#">link to some website</a>, and finally something in
			<strong><em>bold and italics</em></strong>. This is what an
			<abbr title="abbreviation">abbreviation</abbr> looks like and
			<acronym title="Dominic James Pettifer">DJP</acronym> stands for Dominic
			James Pettifer.
		</p>
		
		<table>
			<caption>Here Are Some Specs for Some Cars</caption>
			<thead>
				<tr>
					<th>Make</th>
					<th>Model</th>
					<th>BHP</th>
					<th>MPG</th>
					<th>MPH</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Ford</td>
					<td>Focus</td>
					<td>95</td>
					<td>40</td>
					<td>120</td>
					<td>£13'995</td>
				</tr>
				<tr>
					<td>BMW</td>
					<td>M3</td>
					<td>380</td>
					<td>25</td>
					<td>155</td>
					<td>£55'000</td>
				</tr>
				<tr>
					<td>Ferrari</td>
					<td>458 Italia</td>
					<td>560</td>
					<td>12</td>
					<td>200</td>
					<td>£190'000</td>
				</tr>
				<tr>
					<td>Lamborghini</td>
					<td>Aventador</td>
					<td>690</td>
					<td>10</td>
					<td>225</td>
					<td>£210'000</td>
				</tr>
			</tbody>
		</table>
		
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
			magna aliqua.
		</p>
		
		<h2>And Now For Some Data Lists</h2>
		
		<p>I this section we attempt to style some data lists with CSS:</p>
		
		<dl>
			<dt>E-mail</dt>
			<dd><a href="#">sironfoot@gmail.com</a></dd>
			
			<dt>Phone</dt>
			<dd>+44 (0)1698 321721</dd>
			
			<dt>Fav Lorem Ipsum Passage</dt>
			<dd>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit,
				sed do eiusmod tempor incididunt ut labore et dolore
				magna aliqua.
			</dd>
		</dl>
		
		<p>
			Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
	</article>
</section>