<div id="MainContent">
	<article class="blogPost">
		<header>
			<h1><span>Welcome to My Awesome Blog</span></h1>
			<time datetime="2011-11-11" pubdate><span>12 Sept 2011</span></time>
		</header>
		
		<p>
			My slides are not designed for people who didn’t see the talk in person.
			They’re designed to support my words, not some online audience. What’s more,
			many commented that they found the design of the slides to be noteworthy.
			I’m expressly not a designer.
		</p>
	
		<p>
			Working on your slide design pays off for the audience in front of you and
			for the audience online reading your slides later. I learned a lot designing
			this talk, and I think it can be helpful for you, too.
		</p>
		
		<p>
			Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
		
		<h2>This is a subtitle</h2>
		
		<figure class="image left">
			<a href="#"><img alt="" src="/images/stairs.jpg" /></a>
			<figcaption>
				A picture of my Mac keyboard.
				<small>&copy; Mr Smith 2011</small>
			</figcaption>
		</figure>
		
		<p>
			While very few are still buying netbooks, many manufacturers have continued to release
			the small Intel Atom-powered computers (see Asus, Toshiba, etc.). However, Dell isn't
			going to be one of those companies. After noticing today that its consumer Inspiron
			Mini netbooks were no longer available on its website (thanks Liliputing!), Dell
			confirmed for us that it is no longer making consumer netbooks (the business-aimed
			Latitude netbooks are still available on Dell.com). Not only are the Inspiron
			Minis being put in the grave, but the company confirmed for us that it will not be
			releasing new netbooks based on Intel's forthcoming Cedar Trail platform.
			In other words, it is done with the category.
		</p>
		
		
		
		<p>
			That said, it did clarify that its netbook / tablet hybrid — the Inspiron Duo —
			continues to sell well, and although it isn't in stock on Dell.com right now,
			it would available again before the holidays are over. Of course, Dell is still
			planning on being a lead player in the mobile laptop space and stressed that it
			has been spending time developing higher-end, premium laptops like the XPS 14z.
			Dell's Marketing Director Alison Gardner was very clear about the strategy:
			"Thin and powerful is where it is at for us." Seems like ultrabooks are indeed
			the new netbooks, now Dell's just got to impress us with whatever it has up its sleeve. 
		</p>
		
		<p>
			Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
		
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
			magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		
		<blockquote cite="http://www.apple.com">
			<p>
				Being the richest man in the cemetery doesn’t matter to me … Going to bed at
				night saying we’ve done something wonderful… that’s what matters to me.
			</p>
			
			<footer>
				<cite><a href="http://www.apple.com">Steve Jobs</a></cite> from The Wall Street Journal
			</footer>
		</blockquote>
		
		<p>
			Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
		
		<h2>This is another subtitle, but is a bit longer</h2>
		
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
			magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		
		<ul>
			<li>This is a bullet point</li>
			<li>This is another bullet point</li>
			<li>I really like cheese</li>
			<li>And the final bullet point here</li>
		</ul>
		
		<p>
			Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
		
		<blockquote cite="http://www.marco.org/2011/12/07/eric-schmidt-android-leads-the-iphone">
			<p>
				Ultimately, application vendors are driven by volume, and volume is favored by
				the open approach Google is taking. There are so many manufacturers working to
				deliver Android phones globally,” Schmidt said. “Whether you like Android or
				not, you will support that platform, and maybe you’ll even deliver it first.
			</p>
		</blockquote>
		
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
			magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		
		<ol>
			<li>Waking up in the morning</li>
			<li>Gotta be fresh</li>
			<li>Gotta go downstairs</li>
			<li>Gotta have my bowl</li>
			<li>Gotta have cereal</li>
		</ol>
		
		<p>
			Here is something in <strong>bold</strong> and here is something in <em>italic
			</em>. Here is a <a href="#">link to some website</a>, and finally something in
			<strong><em>bold and italics</em></strong>. This is what an
			<abbr title="abbreviation">abbreviation</abbr> looks like.
		</p>
		
		<table>
			<caption>Here Are Some Specs for Some Cars</caption>
			<thead>
				<tr>
					<th>Make</th>
					<th>Model</th>
					<th>BHP</th>
					<th>MPG</th>
					<th>MPH</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Ford</td>
					<td>Focus</td>
					<td>95</td>
					<td>40</td>
					<td>120</td>
					<td>£13'995</td>
				</tr>
				<tr>
					<td>BMW</td>
					<td>M3</td>
					<td>380</td>
					<td>25</td>
					<td>155</td>
					<td>£55'000</td>
				</tr>
				<tr>
					<td>Ferrari</td>
					<td>458 Italia</td>
					<td>560</td>
					<td>12</td>
					<td>200</td>
					<td>£190'000</td>
				</tr>
				<tr>
					<td>Lamborghini</td>
					<td>Aventador</td>
					<td>690</td>
					<td>10</td>
					<td>225</td>
					<td>£210'000</td>
				</tr>
			</tbody>
		</table>
		
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
			magna aliqua.
		</p>
		
		<h2>And Now For Some Data Lists</h2>
		
		<p>I this section we attempt to style some data lists with CSS:</p>
		
		<dl>
			<dt>E-mail</dt>
			<dd><a href="#">sironfoot@gmail.com</a></dd>
			
			<dt>Phone</dt>
			<dd>+44 (0)1698 321721</dd>
			
			<dt>Fav Lorem Ipsum Passage</dt>
			<dd>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit,
				sed do eiusmod tempor incididunt ut labore et dolore
				magna aliqua.
			</dd>
		</dl>
		
		<p>
			Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
	</article>
</div>