<section id="MainContent" class="blogs">

	<h1>Blogs</h1>
	
	<article>
		<header>
			<h1><a href="/blog/123/welcome">Welcome to My Awesome Blog</a></h1>
			<time datetime="2011-11-11" pubdate><span>12 Sept 2011</span></time>
		</header>
		
		<p>
			My slides are not designed for people who didn’t see the talk in person. They’re designed to support 
			my words, not some online audience. What’s more, many commented that they found the design of the slides
			to be noteworthy. I’m expressly not a designer.
		</p>

		<p>
			Working on your slide design pays off for the audience in front of you and for the audience online
			reading your slides later. I learned a lot designing this talk, and I think it can be helpful for you, too.
		</p>
		
		<div class="moreLink">
			<a href="/Blog/123/hello-world">read more...</a>
		</div>
	</article>
	
	<article>
		<header>
			<h1><a href="/blog/123/some-quick">Some Insights I Had Once About a Blog Title That Went onto Two Lines Just Like This One Here, Look!</a></h1>
			<time datetime="2011-11-11" pubdate><span>12 Sept 2011</span></time>
		</header>
		
		<p>
			Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
			laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
			ut labore et dolore magna aliqua.
		</p>
	</article>

</section>