<!DOCTYPE html>
<html lang="en">
	<head>
  		<meta charset="utf-8" />
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    	<title><%= title %></title>
    	
    	<meta name="title" content="Dominic Pettifer's Blog" />
		<meta name="description" content="Web, HTML5, CSS, JavaScript, Node.js, ASP.NET MVC, life..." />
		
		<meta name="author" content="Dominic Pettifer" />
		<meta name="Copyright" content="Copyright Dominic Pettifer 2011. All Rights Reserved." />
		
		<meta name="DC.title" content="Dominic Pettifer's Blog" />
		<meta name="DC.subject" content="Web, HTML5, CSS, JavaScript, Node.js, ASP.NET MVC, life..." />
		<meta name="DC.creator" content="Dominic Pettifer" />

    	<link rel="shortcut icon" href="/images/favicon.ico" />
    	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />

    	<link rel='stylesheet' href='/staticContent/stylesheets/reset.css' />
    	<link rel='stylesheet' href='/staticContent/stylesheets/main.css' />
	</head>
	
	<body>
		<header id="Header">
			<div>
				<hgroup>
					<h1>= { <span>Dominic</span>: '<span>Pettifer</span>' };</h1>
					<h2>Web, HTML5, CSS, JavaScript, Node.js, ASP.NET MVC, life...</h2>
				</hgroup>
				
				<aside>
					<ul>
						<li class="rss"><a title="RSS" href="#">RSS</a></li>
						<li class="twitter"><a title="Follow me on Twitter" href="#">Twitter</a></li>
						<li class="facebook"><a title="Facebook" href="#">Facebook</a></li>
						<li class="google"><a title="Google+" href="#">Google+</a></li>
						<li class="github"><a title="Github" href="#">Github</a></li>
					</ul>
				</aside>
			</div>
		</header>
		
		<div id="Body">
			
			<%- body %>
			
			<aside id="SideBar">
				<nav id="MainNavigation">
					<h2>Navigation</h2>
					<ul>
						<li class="blog"><a href="#">Blog</a></li>
						<li class="about"><a href="#">About Me</a></li>
						<li class="cv"><a href="#">CV</a></li>
						<li class="portfolio"><a href="#">Portfolio</a></li>
						<li class="contact"><a href="#">Contact</a></li>
					</ul>
				</nav>
				
				<nav id="RecentArticles">
					<h2>Blog Posts</h2>
					<ul>
						<li><a href="#">Welcome To My Awesome Blog</a></li>
						<li><a href="#">Some Quick Thoughts I Had While On The Train</a></li>
						<li><a href="#">Welcome To My Awesome Blog</a></li>
						<li><a href="#">Some Quick Thoughts I Had While On The Train</a></li>
						<li><a href="#">Welcome To My Awesome Blog</a></li>
						<li><a href="#">Some Quick Thoughts I Had While On The Train</a></li>
						<li><a href="#">Welcome To My Awesome Blog</a></li>
					</ul>
				</nav>
			</aside>
		</div>
	
		<footer id="Footer">
			<small>&copy; 2011 Dominic Pettifer - Stay hungry, stay foolish.</small>
		</footer>
	</body>
</html>