<!DOCTYPE html>
<html lang="en">
	<head>
  		<meta charset="utf-8" />
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    	<title><%= title %></title>

    	<link rel="shortcut icon" href="/images/favicon.ico" />
    	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />

    	<link rel='stylesheet' href='/stylesheets/reset.css' />
    	<link rel='stylesheet' href='/stylesheets/main.css' />

    	<script src="/javascripts/cookies.js"></script>
	</head>
	
	<body>
		<%- body %>
	</body>
</html>
	