/*---- Base Styles ----*/

body
{
	font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #333;
}

/*---- Basic Layout ----*/

#Header > div,
#Body,
#Footer
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

#Header
{
	margin-bottom: 2em;
}

#Footer
{
	margin-top: 2em;
}

#MainContent
{
	display: table-cell;
	width: 65%;
}

#SideBar
{
	display: table-cell;
	width: 25%;
}

article > p
{
	margin-bottom: 1em;
}

/*---- Header ----*/

#Header
{
	background-color: #DFD5CD;
}

#Header hgroup
{
	display: inline-block;
}

#Header hgroup > h1
{
	font-size: 48px;
	color: #9E9B83;
	text-shadow: 0 1px 0 #fff, 0 -1px 0 #000;
}

#Header hgroup > h2
{
	font-size: 14px;
	margin-top: 1em;
	margin-left: 6em;
}

#Header aside
{
	float: right;
	vertical-align: top;
}

#Header aside li
{
	display: inline-block;
}
	
/*---- Blogs ----*/

.blogs > h1
{
	display: none;
}

.blogs > article
{
	margin-bottom: 3em;
}

.blogs > article h2
{
	margin-bottom: 0.5em;
}

.blogs > article time
{
	color: #999;
	font-size: 12px;
	margin-bottom: 1em;
	display: block;
}

.blogs > article .moreLink
{
	margin-top: 1em;
}