/*---- Base Styles ----*/

body
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #444;
	background: url(images/background.png) left top repeat;
}

img, embed, object, video
{
	width: 100%;
}

/*---- Basic Layout ----*/

html,
body
{
	height: 100%;
}

.wrapper
{
	min-height: 100%;
   	position: relative;
}

#Header > div.inner,
#Body
{
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding-left: 2%; /* approx 20px on 1024px screen */
	padding-right: 2%; /* approx 20px on 1024px screen */
}

#Body
{
	padding-bottom: 50px;
	position: relative;
}

#Header
{
	margin-bottom: 3em;
}

#Footer
{
	margin-top: 2em;
	position: absolute;
   	bottom: 0;
   	width: 100%;
}

#MainContent
{
	display: table-cell;
	width: 77.083333333333%; /* 960px / 740px */
	padding-right: 2.083333333333%; /* 960px / 20px */
	border-right: 1px solid #c5d8e5;
}

#SideBar
{
	display: table-cell;
	width: 22.916666666667%; /* 960px / 220px  */
	padding-left: 5.208333333333%; /* 960px / 50px */
}

#MainContent p
{
	margin-bottom: 1em;
	line-height: 1.65em;
	font-size: 14px;
}

#MainContent figure
{
	background-color: #fff;
	padding: 7px;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin: 0 auto 20px auto;
	width: 90%;
	
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

#MainContent figure:hover
{
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
	
}

#MainContent figure > a
{
	display: block;
	line-height: 0;
}

#MainContent figure > figcaption
{
	font-size: 14px;
	margin-top: 5px;
	text-align: center;
}

#MainContent figure > figcaption > small
{
	display: block;
	margin-top: 8px;
	font-size: 11px;
	color: #aaa;
}

#MainContent figure.left,
#MainContent figure.right
{
	width: 40%;
	margin-top: -3px;
	margin-bottom: 5px;
}

#MainContent figure.left
{
	float: left;
	margin-right: 15px;
	margin-left: -8px;
}

#MainContent figure.right
{
	float: right;
	margin-left: 15px;
	margin-right: -8px;
}

#MainContent ul,
#MainContent ol
{
	margin-bottom: 1.2em;
	font-size: 14px;
}

#MainContent ul > li,
#MainContent ol > li
{
	margin-bottom: 0.4em;
	line-height: 1.4em;
}

#MainContent ul > li
{
	list-style-type: disc;
}

#MainContent blockquote
{
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 1.5em;
	padding-left: 0.5em;
	padding-right: 1em;
	border-left: 4px solid #ddd;
	position: relative;
}

#MainContent blockquote > p
{
	color: #666;
	font-size: 16px;
	line-height: 1.6em;
}

#MainContent blockquote:before
{
	content: "\201C";
	position: absolute;
	left: -1em;
	font-size: 28px;
}

#MainContent blockquote p:last-of-type:after
{
	content: " \201D";
}

#MainContent blockquote > footer
{
	font-size: 14px;
	margin-left: 2em;
}

#MainContent blockquote > footer:before
{
	content: "-";
	padding-right: 0.3em;
}

#MainContent table
{
	width: 101%;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-left: -5px;
}

#MainContent table caption
{
	text-align: left;
	margin-bottom: 0.4em;
	font-weight: bold;
	font-size: 14px;
	margin-left: 5px;
}

#MainContent table td,
#MainContent table th
{
	border: 1px solid #ccc;
	padding: 4px;
	text-align: left;
	font-size: 14px;
	background-color: #fff;
}

#MainContent table thead th
{
	background-color: #fffff1;
}

#MainContent table tbody tr:nth-child(2n) td,
#MainContent table tbody tr:nth-child(2n) th
{
	background-color: #fef;
}

#MainContent dl
{
	font-size: 14px;
	line-height: 1.4em;
	margin-bottom: 1.5em;
}

#MainContent dl > dt
{
	font-weight: bold;
	margin-bottom: 0.3em;
}

#MainContent dl > dd
{
	margin-bottom: 1em;
	margin-left: 1.2em;
}

 
/*---- Header ----*/

#Header
{
	background: #DFD5CD; /* -- Put image fallback here --*/
    background: -moz-linear-gradient(top, #f0ede8, #b6a794);
    background: -webkit-linear-gradient(top, #f0ede8, #b6a794);
    background: -o-linear-gradient(top, #f0ede8, #b6a794);
    background: linear-gradient(top, #f0ede8, #b6a794);
    border-bottom: 4px solid #a18f78;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}

#Header .website-title
{
	display: table-cell;
	width: 700px;
}

#Header .website-title > .title
{
	font-size: 48px;
	color: #8d8971;
	text-shadow: 0 1px 0 #edf9ff, 0 -1px 0 #4f4d40;
	margin: 0.2em 0 0.1em 0;
	font-weight: bold;
}

#Header .website-title > .title .first-name:before { content: "= { "; }
#Header .website-title > .title .first-name:after { content: ": "; }
#Header .website-title > .title .last-name:before { content: "'"; }
#Header .website-title > .title .last-name:after { content: "' };"; }

#Header .website-title > .sub-title
{
	font-size: 18px;
	margin-left: 4.1em;
	font-weight: normal;
	margin-bottom: 0.5em;
	text-shadow: 0 1px 0 #ccc;
}

#SocialNetworks
{
	width: 260px;
	vertical-align: top;
	text-align: right;
	position: absolute;
	top: -150px;
	right: 20px;
}

#SocialNetworks h2
{
	display: none;
}

#SocialNetworks li
{
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-left: 12px;
}

#SocialNetworks li > a
{
	display: block;
	width: 32px;
	height: 32px;
	font-size: 0;
	background: url(images/rss.png) left top no-repeat;
}

#SocialNetworks li.twitter > a
{
	background-image: url(images/twitter.png);
}

#SocialNetworks li.facebook > a
{
	background-image: url(images/facebook.png);
}

#SocialNetworks li.google > a
{
	background-image: url(images/google.png);
}

#SocialNetworks li.github > a
{
	background-image: url(images/github.png);
}

/*---- Main Content ----*/
	
/*---- Blogs ----*/

.blogs > h1
{
	display: none;
}

article
{
	padding-left: 4.6em;
	margin-bottom: 3em;
	padding-top: 0;
}

article header
{
	position: relative;
}

article header h1
{
	font-size: 18px;
	border-bottom: 1px solid #fff;
	margin-left: -20px;
	padding-left: 20px;
	margin-bottom: 1.2em;
}

article h1 a,
article h1 span
{
	display: block;
	margin-left: -20px;
	padding-left: 20px;
	border-bottom: 3px solid #b6afa4;
	padding-bottom: 3px;
	color: #444;
	text-decoration: none;
}

article header time
{
	border: 2px solid #fff;
	background-color: #dbcfb8;
	font-size: 12px;
	font-weight: bold;
	width: 60px;
	height: 60px;
	text-align: center;
	border-radius: 32px;
	display: block;
	line-height: 1.4em;
	position: absolute;
	top: -22px;
	left: -70px;
	color: #655f55;
	text-shadow: 0 1px 0 #eee;
}

article time span
{
	display: table-cell;
	width: 60px;
	height: 56px;
	padding-top: 4px;
	vertical-align: middle;
}

article .moreLink
{
	margin-top: 1em;
}

article h2
{
	margin-top: 1.5em;
	margin-bottom: 0.8em;
	border-bottom: 1px solid #999;
	font-size: 18px;
}

/*---- Sidebar ----*/

#SideBar nav
{
	margin-bottom: 2em;
}

#SideBar a
{
	color: #004080;
}

#SideBar nav > h2
{
	font-size: 24px;
	margin-bottom: 1em;
	text-shadow: 0 1px 0 #fff;
}

#MainNavigation > ul > li > a
{
	display: inline-block;
	font-size: 18px;
	margin-bottom: 0.5em;
	font-weight: bold;
	background: url(images/blog.png) left bottom no-repeat;
	margin-left: -35px;
	padding-left: 35px;
}

#MainNavigation > ul > li.about > a
{
	background-image: url(images/about.png);
}

#MainNavigation > ul > li.cv > a
{
	background-image: url(images/cv.png);
}

#MainNavigation > ul > li.portfolio > a
{
	background-image: url(images/portfolio.png);
}

#MainNavigation > ul > li.contact > a
{
	background-image: url(images/contact.png);
}

#RecentArticles > ul > li
{
	font-size: 12px;
	margin-bottom: 0.8em;
	list-style-type: disc;
	font-family: Helvetica, sans-serif;
}

/*---- Footer ----*/

#Footer
{
	background-color: #333;
	text-align: center;
	height: 50px;
	border-top: 3px solid #c4c4c4;
}

#Footer > small
{
	line-height: 50px;
	color: #eee;
	font-size: 14px;
}